<div data-ng-controller="HomeCtrl">

  <table class="table">

    <thead>
      <tr>
        <th data-ng-repeat="title in titles" data-ng-click="sortBy(title)">
          {{title.name}} {{title.id == predicate && (reverse && '⇓' || '⇑') || ''}}
        </th>
      </tr>
    </thead>

    <tbody>
      <tr data-ng-repeat="data in mockData | orderBy:predicate:reverse">
        <th>{{data.name}}</th>
        <td>{{data.invoice | number}}</td>
        <td>{{data.impression | number}}</td>
        <td>{{data.click | number}}</td>
      </tr>
    </tbody>

  </table>

</div>
